.hero {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    padding: 48px;
    gap: 16px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 36px;
}

.header-logo {
    color: #F9FAF8;
    font-size: 24px;
}

.header-links {
    display: flex;
    gap: 16px;
}

.header-link {
    font-size: 18px;
    color: #E5E7EB
}

.hero .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50%;
}

.hero .content img {
    height: auto;
    width: 250px;
}

.hero .content .main-text {
    font-size: 48px;
    font-weight: bolder;
    color: #f9FaF8
}

.hero .content .text {
    display: flex;
    flex-direction: column;
}

.hero .content .subtext {
    font-size: 18px;
    color: #E5E7EB;
}

.hero .content button {
    background-color: #3882F6;
    border: 0px;
    color: white;
    padding: 8px;
    width: 128px;
    margin-top: 36px;
    border-radius: 10px;
}